In [ ]:
# Code cell

# Genpact Intro to Python
### 1. Basics

- data types

In [7]:
print('Hai Learners') # This is a print statement

Hai Learners

In [8]:
#Alt+Enter - runs the cell and creates a new cell
#Ctrl+Enter - runs the cell and stays in the same
#Shift+Enter- runs and moves to the next cell,if not present, it adds a new cell.

In [ ]:
# Data types
#int,float
#strings
#booleans

In [12]:
2a = 4

SyntaxError: invalid syntax (3643679870.py, line 1)

In [10]:
type(a)

int

In [11]:
abc = 10.6
type(abc)

float

In [14]:
abc_d = 7687

In [22]:
a=b=c = 100  # assign 100 to a,b and c

In [26]:
x,y,z = 100,200,300 # assign multiple values to multiple variables

In [27]:
print(x)
print(y)
print(z)

100
200
300

In [30]:
string1 = 'Welcome to this session' 
type(string1)

str

In [31]:
print("This session is 'very important'")

This session is 'very important'

In [33]:
print('''This session is "very important"''')

This session is "very important"

In [ ]:
# Variable name rules
# Cannot start with a number
# No spaces allowed in between the variable
# Do not use reserved keywords as variable names
# Case sensitive

In [34]:
bt = True
type(bt)

bool

In [35]:
bf = False
type(bf)

bool

In [41]:
b

100

In [43]:
print("The value of a is:",a)
print("The value of a is :{0} and b is {1}".format(a,b))
print(f'The value of a is {a} and b is {b}')

The value of a is: 100
The value of a is :100 and b is 100
The value of a is 100 and b is 100

In [ ]:
# Operators 
# + - add
# - sub
# * - multiply
# /  division
# // floor division
# ** exponential
# % modulus

In [46]:
a= 89
b = 6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

95
83
534
14.833333333333334
14
496981290961
5

In [45]:
round((a/b),3)
#Shift+tab to check for documentation

14.833

In [47]:
# In strings
s1 = '10'
s2 = '30'

In [48]:
s1 + s2 # concatenates

'1030'

In [50]:
#s1 - s2 # throws error

In [52]:
s1 * 3  # repeat

'101010'

In [53]:
print(s1+s2)
print(s1*3)

1030
101010

In [54]:
s1+s2
s1*3

'101010'

In [55]:
a  = 10
a = a+10
a

20

In [56]:
10 +30.5

40.5

In [59]:
a = 20.9
a  = int(a)

In [61]:
string1 = '10abc'
string2 = '78'

In [64]:
int(string2)

78

In [68]:
s1 = '78.5'
float(s1)

78.5

In [72]:
# take input from a user
inp1 = input("Hello, Enter your name: ")

Hello, Enter your name: Akshatha

In [71]:
print(inp1)

Akshatha

In [83]:
# take input from user and add it to 10 and print the result.
inp_num = input('Enter a number: ') # accepts string as input
# cannot add string to int
new = int(inp_num) + 10
print(new,inp_num)
print('done')

Enter a number: 12
22 12
done

In [77]:
# '12' +  10 # wrong

In [84]:
# Conditional operators
a == b

False

In [85]:
print(a>b)
print(a<b)
print(a>= b)
print(a<= b)
print(a != b)

True
False
True
False
True

In [86]:
# Logical operators
print(a,b,c)

20 6 100

In [87]:
a > b and a < c

True

In [88]:
a <= b or a < c

True

In [91]:
not a == b

True

# check a whether number given by user is even or odd
if condition :
    <statement>
else:
    <statement>

In [97]:
num = int(input("enter the number : "))
if num % 2 == 0 :
    print("even")
else:
    print("odd")

enter the number : 10
even

# salary : > 1lakh - high, 40k-1lakh- med, < 40k - low
if condition :
    <statement>
elif condition :
    <statement>
else:
    <statement>

In [100]:
sal = int(input())
if sal < 40000:
    print("Low")
elif sal>= 40000 and sal < 100000:
    print("Medium")
else:
    print("High")

450000
High

In [102]:
sal = int(input())
if sal < 40000:
    print("Low")
elif sal < 100000:
    if sal>=40000:
        print("Med")
else:
    print("High")

45000
Med

In [106]:
# Largest of 3 numbers given by the user
a = int(input())
b = int(input())
c = int(input())

Enter num1: 1

Given an integer, n, perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird

Write a Python program to compute the number of digits of the sum of two given integers.

Write a Python program that accepts an integer (a) and computes the value of a+aa+aaa.